.Layout
	&-proyectos
		font-size 0
		display flex
		flex-flow row wrap
	&-item
		width 50%
		position relative
		> a
			widht 100% 
			height auto
		> a > img 
			width 100%
	&-container
		width 50%
		display flex
		flex-direction column
		> article
			width 100%
	&-title
		font-weight 300
		font-size 2.8125em
		text-transform uppercase
		color color-gris-B
	&-nav
		display flex
		align-items center
	&-menu
		display flex
		text-transform uppercase
		margin-left 16em
		> li > a
			display block
			color color-gris-A
			padding 1em 0 .4em 0
			margin 0 1em 0 1em
			border-bottom: 4px solid transparent
			&:hover
				color color-azul
				border-bottom: 4px solid color-azul
			&:active
				color color-azul
	&-mask
		background-color black
		font-size 16px
		opacity 0
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		&:hover
			opacity .85
			.Layout-description
				opacity 1
	// &-description
	// 	margin 0
	// 	color color-verde
	// 	opacity 0
	// 	position absolute
	// 	bottom 12%
	// 	left 8%
	// 	font-size 3.75em
	// 	font-weight 300
@media(max-width 580px)
	.Layout
		&-item
		&-container
			width 100vw
		