section(class="Layout" id="Layout")
	div(class="Layout-proyectos")
		article(class="Layout-item")
			a(href="#")
				img(src="public/images/buffer_lf.jpg", alt="Liceo Francés")
				div(class="Layout-mask")
					h2(class="Layout-description") Instructivo
		div(class="Layout-container")
			article(class="Layout-item")
				a(href="#")
					img(src="public/images/buffer_olano.jpg", alt="Olano + Ocampo")
					div(class="Layout-mask")
						h2(class="Layout-description") Instructivo
			article(class="Layout-item")
				a(href="#")
					img(src="public/images/buffer_triangle.jpg", alt="The inverted Triangle")
					div(class="Layout-mask")
						h2(class="Layout-description") Instructivo
		article(class="Layout-item")
			a(href="#")
				img(src="public/images/buffer_boliche.png", alt="El Boliche")
				div(class="Layout-mask")
					h2(class="Layout-description") Instructivo
		article(class="Layout-item")
			a(href="#")
				img(src="public/images/buffer_ft.jpg", alt="French Touch")
				div(class="Layout-mask")
					h2(class="Layout-description") Instructivo
		div(class="Layout-container")
			article(class="Layout-item")
				a(href="#")
					img(src="public/images/buffer_triangle.jpg", alt="The inverted Triangle")
					div(class="Layout-mask")
						h2(class="Layout-description") Instructivo
			article(class="Layout-item")
				a(href="#")
					img(src="public/images/buffer_taxi.jpg", alt="Taxi")
					div(class="Layout-mask")
						h2(class="Layout-description") Instructivo
		article(class="Layout-item")
			a(href="#")
				img(src="public/images/buffer_monjas.jpg", alt="Instructivo Monjas")
				div(class="Layout-mask")
					h2(class="Layout-description") Instructivo