section(class="Footer")
	div(class="Footer-social")
		ul(class="Footer-sn Wraper")
			li
				a(target="black" href="http://www.behance.net/bufferstudio")
					span(class="icon-behance")
			li
				a(target="black" href="http://www.facebook.com/bufferdesignstudio")
					span(class="icon-facebook")
			li
				a(target="black" href="http://instagram.com/bufferstudio")
					span(class="icon-instagram")
			li
				a(target="black" href="")
					span(class="icon-linkedin")
	div(class="Footer-credits Wraper")
		p © 2015 SAGE Multipurpose Theme. Made by idealUI
		p © 2015 buffer studio - Todos los derechos reservados
		p Terms of use 
		p Privacy policy