section(class="Footer")
	div(class="Footer-social")
		ul(class="Footer-sn ")
			li
				a(target="black" href="http://www.behance.net/bufferstudio")
					aside(class="icon-behance")
			li
				a(target="black" href="http://www.facebook.com/bufferdesignstudio")
					aside(class="icon-facebook")
			li
				a(target="black" href="http://instagram.com/bufferstudio")
					aside(class="icon-instagram")
			li
				a(target="black" href="")
					aside(class="icon-linkedin")
	div(class="Footer-credits ")
		p © 2015 SAGE Multipurpose Theme. Made by idealUI