doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		title Buffer
		link(rel="stylesheet", href="public/css/styles.css")
	body
		include header/template.jade
		include layout/template.jade
		section(class="Footer")
			div(class="Footer-social")
				ul(class="Footer-sn ")
					li
						a(target="black" href="http://www.behance.net/bufferstudio")
							aside(class="icon-behance")
					li
						a(target="black" href="http://www.facebook.com/bufferdesignstudio")
							aside(class="icon-facebook")
					li
						a(target="black" href="http://instagram.com/bufferstudio")
							aside(class="icon-instagram")
					li
						a(target="black" href="")
							aside(class="icon-linkedin")
			div(class="")
				div(class="Footer-nav")
					a(href="#", target="_blank", class="Footer-logo")
						img(src="public/images/buffer_logo_gris.png", alt="Buffer")
					h2(class="Footer-title") Proyectos
			div(class="Footer-sitemap ")
				ul
					li
						a(href="") Misión y visión
					li
						a(href="") Relación con clientes
					li
						a(href="") Filosofía de trabajo
				ul
					li
						a(href="") Integrated campaigns
					li
						a(href="") Strategy
					li
						a(href="") Creative and design
					li
						a(href="") Digital production
					li
						a(href="") Creative direction
				ul
					li
						a(href="") Editorial campagins
					li
						a(href="") Social media
					li
						a(href="") Media planning
					li
						a(href="") Print and trade
					li
						a(href="") Support
				ul
					li
						a(href="") Campaigns
					li
						a(href="") Mobile applications
					li
						a(href="") Editorial
					li
						a(href="") Digital production
					li
						a(href="") Installations
					li
						a(href="") Trade
			div(class="Footer-credits ")
				p © 2015 SAGE Multipurpose Theme. Made by idealUI
	script(language="JavaScript" type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js")
	script(language="JavaScript" type="text/javascript" src="public/js/js.js")


