@import "nib"
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import "fonts/styles.styl"

color-blanco-A = rgba(white,0.7)
color-blanco-B = rgba(white,0.5)
color-gris-A = #555555
color-gris-B = #888888
color-gris-C = #444444
color-gris-D = #e5e5e5
color-gris-E = rgba(21, 21, 23, 0.95)
color-azul = #322de3
color-verde = #6efbbe

body
	font-family Roboto
	font-size 16px
	margin 0
	font-weight 300
a
	text-decoration none
li
	list-style none
ul
	margin 0
	padding 0
p
	margin 0
	padding 0

@import "header/styles.styl"
@import "layout/styles.styl"
@import "footer/styles.styl"

.anchor:before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
}