@font-face {
	font-family: 'social-icons';
	src:url('../fonts/social-icons.eot?wwka4n');
	src:url('../fonts/social-icons.eot?#iefixwwka4n') format('embedded-opentype'),
		url('../fonts/social-icons.ttf?wwka4n') format('truetype'),
		url('../fonts/social-icons.woff?wwka4n') format('woff'),
		url('../fonts/social-icons.svg?wwka4n#social-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'social-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
	content: "\e602";
}
.icon-instagram:before {
	content: "\e600";
}
.icon-behance:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\ea8c";
}
.icon-linkedin:before {
	content: "\eac9";
}
