.Header
	position relative
	font-size 0px
	&-video
		width 100%
		> video
			width 100%
			height auto
	&-button
		color white
		text-align end
		font-size 2em
		padding .5em 1em .5em 0
	&-nav
		display flex
		position fixed
		background-color black
		z-index 500
		top 0
		width 100vw
		justify-content space-between
	&-logo
		width 168px
		height 40px
		padding 1.15em 0 1.15em 1em
		> img
			width 168px
			height 40px
	&-menu
		display block
		margin 0
		> li
			list-style none
			> a 
				display block
				color color-blanco-B
				padding 1em 0 1.2em 0
				margin 0 1em 0 1em
				border-bottom: 4px solid transparent
				&:hover
				&:visited
					color white
					border-bottom: 4px solid white
	&-title
		font-weight 100
		width 100vw
		text-transform uppercase
		text-align center
		font-size 3.125em
		color white
		position absolute
		top 0
		bottom 0
		right 0
		left 0
		margin auto
		height 20%		
	&-layout
		font-size 16px
		> a 
			text-transform uppercase
			font-size 1.125em
			text-align center
			color color-blanco-A
			position absolute
			bottom 3.5em
			margin-left: auto;
			margin-right: auto;
			left:0;
			right:0;
			width 100%
			> aside
				font-size 30px
				
@media(max-width 580px)
	.Header
		&-isHidden
			display none
		&-nav
			> nav
				position absolute
				width 100vw
				left 0
				right 0
				overflow hidden
				background-color black
				z-index -1
@media(min-width 580px)
	.Header
		&-button
			display none
		&-menu
			display flex
			margin 0
			> li
				list-style none
				> a 
					display block
					color color-blanco-B
					padding 1em 0 1.2em 0
					margin 0 1em 0 1em
					border-bottom: 4px solid transparent
					&:hover
					&:visited
						color white
						border-bottom: 4px solid white
			