.Header
	position relative
	&-video
		width 100%
		> video
			width 100%
			height auto
	&-nav
		display flex
		position absolute
		top 0
	&-logo
		width 168px
		height 40px
		padding-top 1.15em
		> img
			width 168px
			height 40px
	&-menu
		display flex
		margin 0
		margin-left 21em
		> li
			list-style none
			> a 
				display block
				color color-blanco-B
				padding 1em 0 1.2em 0
				margin 0 1em 0 1em
				border-bottom: 4px solid transparent
				&:hover
					color white
					border-bottom: 4px solid white
	&-title
		// font-weight 100
		// text-transform uppercase
		// text-align center
		// font-size 3.125em
		// color white
		// position absolute
		// top 40%
		// margin 0
		font-weight 100
		width 1002px
		text-transform uppercase
		text-align center
		font-size 3.125em
		color white
		position absolute
		top 0
		bottom 0
		right 0
		left 0
		margin auto
		height 20%		
	&-layout
		> a 
			text-transform uppercase
			font-size 1.125em
			text-align center
			color color-blanco-A
			position absolute
			bottom 3.5em
			margin-left: auto;
			margin-right: auto;
			left:0;
			right:0;
			width 100%
			> aside
				font-size 30px