.Header
	position relative
	&-background
		background-image url('../images/buffer_cover.jpg')
		background-repeat no-repeat
		background-size cover
		height 100vh
	&-video
		width 100%
		height 100vh
		overflow hidden
		> video
			width 100%
			min-height 100%
			object-fit cover
	&-nav
		font-size 16px
		display flex
		position fixed
		background-color color-gris-E
		z-index 500
		top 0
		width 100vw
		height 50px
		justify-content space-between
	&-logo
		width 106px
		height 26px
		padding 10px 0 10px 24px
		> img
			width 106px
			height 26px
	&-menu
		display block
		margin 0
		> li
			list-style none
			text-align center
			> a 
				display block
				color color-blanco-B
				padding 1em 0 1em 0
				margin 0 1em 0 1em
				&:active
					color white
	&-title
		font-weight 100
		width 100vw
		text-transform uppercase
		text-align center
		font-size 44px
		color white
		position absolute
		top 0
		bottom 0
		right 0
		left 0
		margin auto
		height 20%		
	&-layout
		font-size 0px
		> a 
			text-transform uppercase
			font-size 18px
			text-align center
			color color-blanco-A
			position absolute
			bottom 65px
			margin-left: auto;
			margin-right: auto;
			left:0;
			right:0;
			width 200px
			transition color .25s
			> aside
				font-size 30px
			// 	transition .25s
			// &:hover
			// 	color white
			// 	> aside 
			// 		transform translate(0px,10px) scale(1.2)
			// 		color white
#Header-button{
  width: 20px;
  height: 20px;
  margin: 15px 24px 15px auto;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#Header-button span{
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#Header-button span:nth-child(1) {
  top: 0px;
}

#Header-button span:nth-child(2),#Header-button span:nth-child(3) {
  top: 8px;
}

#Header-button span:nth-child(4) {
  top: 16px;
}

#Header-button.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

#Header-button.open span:nth-child(2) {
  transform: rotate(45deg);
}

#Header-button.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#Header-button.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}
	
@media(max-width 767px)
	.Header
		&-title
			font-size 20px
				
@media(max-width 1024px)
	.Header
		&-isHidden
			display none
		&-nav
			> nav
				position absolute
				width 100vw
				left 0
				right 0
				overflow hidden
				background-color color-gris-E
				z-index -1				
@media(min-width 1025px)
	.Header
		&-menu
			display flex
			margin 0
			> li
				list-style none
				> a 
					display block
					transition color .3s, border-bottom .6s
					color color-blanco-B
					padding 10px 0 10px 0
					margin 0 16px 0 16px
					border-bottom: 4px solid transparent
					&:hover
					&:active
						color white
						border-bottom: 4px solid white
		&-nav
			transition background-color .5s
			background-color transparent
			> nav
				margin-right 16px
		&-background
			transition background-color .5s
			background-color color-gris-E
		&-layout
			> a 
				bottom 30px	
				transition .25s
				&:hover
					color white
					> aside 
						transform translate(0px,10px) scale(1.2)
						color white
	#Header-button
		display none
