section(class="Header")
	div(class="Header-layout")
		div(class="Header-video")
			video(autoplay loop)
				source(src="public/videos/polina.webm" type="video/webm")
				source(src="public/videos/polina.mp4" type="video/mp4")
		div(class="Wraper")
			div(class="Header-nav")
				a(href="#", target="_blank", class="Header-logo")
					img(src="public/images/buffer_logo.png", alt="Buffer")
				nav
					ul(class="Header-menu")
						li
							a(href="#") Home
						li
							a(href="#") Proyectos
						li
							a(href="#") Nosotros
						li
							a(href="#") Contacto
		h2(class="Header-title") Escuchamos música, bocetamos, jugamos con el perro y terminamos proyectos
		a(href="#") Empecemos 
			aside(class="icon-down")